@media (max-width: 1050px) {



 .navbar {
height: 8%;
}
.nav-mid ul {
 
    gap: 30px;
                
}

.hero-section {
    height: 74%;
}
.about-heading {
    width: 80%;
}

.about-section {
    height: 18%;
}

.about-heading p {
    font-size: 38px;
}
.our-story-para {
    margin: 28px 0px 40px 0px;
}

.services-parent {
    padding: 0px 60px;
}

.pc-card-img {
    height: 310px;      




}
.blog-card-para {
    margin-top: 0;
    margin-bottom: 0;
}

   .our-story {
                            margin: 90px 0px 150px 0px;
                    }

}

 @media (min-width: 993px) {
    .menu-toggle { display: none; }
    .offcanvas-overlay, .offcanvas { display: none; }
  }


@media (max-width: 992px) {

        .menu-toggle { display: flex; }

    .nav-mid {
        display: none;
    }
    .menu-bar{
  display: block
}


/* .nav-logo {
   height: 70px;     
}  */


    /* .about-heading {
        width: 100%;
    }    */


.about-heading p {
    font-size: 32px;
}
.about-heading {
        width: 100%;
    }



                    .services-parent {
                        padding: 0px 0px;
                    }

                    .services {
                            padding-bottom: 120px;
                            gap: 30px;

                    }
                    .services-img {
                            height: 560px;

                    }

                 

                    .small-heading {
                        font-size: 20px;
                    }
                    .event-section {
                        gap: 25px;
                    }
                    .event-card-img {
                        gap: 15px;
                    }

                    .our-story {
                        gap: 35px;
                    }

                    .blog-card-para {
   
    margin-bottom: 20px;
}

.blog-card-img {
    height: 250px;  
}
.pc-footer {
    margin-top: 115px;
}

.project-border {
    margin-top: 50px;
}

 .footer-space{
          padding: 0px 20px;
         }  
      
         .footer-logo p{
            max-width: 150px;
         }

         .padding-footer {
    padding: 0 3%;
         }
         .footer-qr {
            height: 130px;
         }
            
         .footer-bottom-txt {
            margin-top: 40px;
         }
         .footer-contact p:nth-child(3) {
            margin-top: 10px;
         }
         /* .footer-logo img {
            height: 120px;
         } */





                    

               





                    




                }
                






                @media (max-width: 768px) {
                        .services-img {
                            height: 520px;
                        }
                        .blog {
                            flex-direction: column;
                            gap: 40px;
                        }
                        .blog-card {
                            width: 100%;
                        }
                            .blog-card-img {
                                height: auto;
                            }
                            .footer {
                                flex-direction: column;
                              gap: 60px;
                                /* gap: 40px; */
                            }
                                .footer-qr {
                                   
                                  
                                    width: 103px;
                                }
                                .footer-qr-parent h4 {
                                    text-align:start;
                             
                                }
                                 .footer-contact h4{
                                  margin-top: 0px;
                                     }
                                .footer h4 {
                                    margin-bottom: 15px;
                                    font-size: 22px;
                                }
                                    .padding-footer {
                                        padding: 0 5%;
                                   
                                    }
                                        .footer-bottom-txt {
                                            margin-top: 60px;
                                        }
                                        .footer-parent {
                                            padding: 60px 0px 30px 0px;

                                        }
                                            .footer-logo p {
                                               max-width: 100%;
                                            }



                                




                       

                            

                }

          






@media (max-width: 576px) {
     .navbar {
height: 12%;
}

.navbar {
    padding: 0px 20px;
}
    .nav-logo {
      width: 100px;
    }

    .menu-bar img {
        height: 29px;
    }


.tata-img{
    display: none;
}

h1 {
    font-size: 38px;
}

    .about-heading p {
    font-size: 20px;
    }

    .hero-black-div {
        padding: 0px 20px;
    }

        .hero-section {
        height: 70%;
    }

    .our-story {
        /* flex-direction: column; */
        flex-direction:column-reverse;

            }

            .our-story-right {
                width: 100%;
            }

            .our-story-left {
                width: 100%;
            }   

            .our-story {       
                         gap: 15px;
            }

            .heading {
                font-size: 50px;
            }

                .our-story-para {
                    margin: 20px 0px 30px 0px;
                }


                .services {
                    flex-direction:column-reverse;
                }

                .services-parent .services:nth-last-child(2) {
                       flex-direction:column;

}

                .services-text{
                   width: 100%;
                   padding: 0px 5px;
                }

                .services-img-parent {
                    width: 100%;
                }

                .services-img {
                    height: auto;
                }
                .short-heading {
                    font-size: 40px;
                }
                .services {
                    gap: 15px;
                    padding-bottom: 80px;

                    
                }

                .all-heading {
                    margin-bottom: 60px;
                }

                .event-section {
                    flex-direction: column;
                }
                .event-left {
                    width: 100%;
                        border-bottom: 1px solid #929292;
                        padding-bottom: 30px;

                }
                .event-right {
                    width: 100%;

                }
                .pc-footer-cta {
                    font-size: 12px;
                }
                    .our-story {
                        margin: 60px 0px 100px 0px;
                    }
                    .full-video {
                        margin-bottom: 90px;
                    }
                    .events-section-parent {
                        margin: 90px 0px;
                    }
                    .blog-section-parent {
                      margin-top: 90px;
                      margin-bottom: 125px;
                    }

     .blog-card{
    box-shadow: 
      0 8px 20px rgba(0,0,0,0.08),
      0 3px 8px rgba(0,0,0,0.04);
  }

    .pc-card {

          box-shadow: 
      0 8px 20px rgba(0,0,0,0.08),
      0 3px 8px rgba(0,0,0,0.04);

    }
      .footer h4 {
                             
                                    font-size: 20px;
                                }
                                    .footer {
                                        gap: 40px;
                                    }   
                                    .footer-logo img {
                                        height: 100px;
                                    }
                                        .footer-qr {
                                            height: 90px;
                                            width: 90px;
                                        }







}
@media (max-width: 480px) {
    /* .nav-logo {
        height: 56px;
    } */
      .menu-bar img {
        height: 24px;
    }

    .tata-img img {
        width: 80px;
    }
    .tata-img h4 {
        font-size: 12px;
    }
    .nav-right {
        gap: 21px;
    }
        .navbar {
height: 10%;        
        }

            .hero-section {
        height: 72%;
    }

    .about-heading p {
        font-size: 17px;
    }

        .heading {
            font-size: 37px;
        }


            .our-story-para {
                margin: 15px 0px 30px 0px;
                }

                .bookmarkBtn {
                        transform: scale(1.1);
                            margin-left: 4px;

                }
                .full-video {
                    height: 70vh;
                }
                       .services {
                
                    padding-bottom: 60px;
                }

             

                 .all-heading {
                    margin-bottom: 45px;
                }
                .para {
                        line-height: 23px;
                }
                    .small-heading {
                        font-size: 18px;
                    }
                 
                    .para{
                        font-size: 14px;
                    }
                        .short-heading {
                            font-size: 32px;
                        }

                        .pc-card-title h3 {
                            font-size: 23px;
                        }

                        .pc-card-num {
                            font-size: 22px;
                        }
.pc-card-body {
    padding: 10px      
}

.pc-controls {
    margin-top: auto;
}
.pc-btn {
    height: 35px;
    width: 35px;
}

.blog-card-heading h3 {
    font-size: 23px;
}
.blog-card-txt {
    padding: 10px;
}

.blog-card-logo {
    height: 40px;
    width: 40px;    
}

    .blog {
        gap: 26px;
    }

    .pc-footer {
    margin-top: 75px;
}

.project-border {
    margin-top: 40px;
}
        .footer-space {
        padding: 0px 8px;
    }

        .footer h4 {
            font-size: 18px;
            margin-bottom: 20px;
        }



  






               








}